function Tetrimino.new 0
push constant 8
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 4
push this 4
push constant 2
call Math.multiply 2
pop this 2
push this 4
push constant 3
call Math.multiply 2
pop this 3
push constant 4
pop this 5
push constant 0
pop this 6
push pointer 0
call Tetrimino.ConstructStates 1
pop temp 0
push pointer 0
call Tetrimino.draw 1
pop temp 0
push pointer 0
return
function Tetrimino.ConstructStates 4
push argument 0
pop pointer 0
push this 5
call Array.new 1
pop this 7
push constant 4
call Array.new 1
pop local 0
push local 0
push constant 0
push constant 1
push constant 0
push constant 0
push constant 0
call TetriminoMethods.AddStateRow 6
pop temp 0
push local 0
push constant 1
push constant 1
push constant 1
push constant 1
push constant 0
call TetriminoMethods.AddStateRow 6
pop temp 0
push local 0
push constant 2
push constant 0
push constant 0
push constant 0
push constant 0
call TetriminoMethods.AddStateRow 6
pop temp 0
push local 0
push constant 3
push constant 0
push constant 0
push constant 0
push constant 0
call TetriminoMethods.AddStateRow 6
pop temp 0
push constant 0
push this 7
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
call Array.new 1
pop local 0
push local 0
push constant 0
push constant 1
push constant 1
push constant 0
push constant 0
call TetriminoMethods.AddStateRow 6
pop temp 0
push local 0
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
call TetriminoMethods.AddStateRow 6
pop temp 0
push local 0
push constant 2
push constant 1
push constant 0
push constant 0
push constant 0
call TetriminoMethods.AddStateRow 6
pop temp 0
push local 0
push constant 3
push constant 0
push constant 0
push constant 0
push constant 0
call TetriminoMethods.AddStateRow 6
pop temp 0
push constant 1
push this 7
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
call Array.new 1
pop local 0
push local 0
push constant 0
push constant 1
push constant 1
push constant 1
push constant 0
call TetriminoMethods.AddStateRow 6
pop temp 0
push local 0
push constant 1
push constant 0
push constant 0
push constant 1
push constant 0
call TetriminoMethods.AddStateRow 6
pop temp 0
push local 0
push constant 2
push constant 0
push constant 0
push constant 0
push constant 0
call TetriminoMethods.AddStateRow 6
pop temp 0
push local 0
push constant 3
push constant 0
push constant 0
push constant 0
push constant 0
call TetriminoMethods.AddStateRow 6
pop temp 0
push constant 2
push this 7
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
call Array.new 1
pop local 0
push local 0
push constant 0
push constant 0
push constant 1
push constant 0
push constant 0
call TetriminoMethods.AddStateRow 6
pop temp 0
push local 0
push constant 1
push constant 0
push constant 1
push constant 0
push constant 0
call TetriminoMethods.AddStateRow 6
pop temp 0
push local 0
push constant 2
push constant 1
push constant 1
push constant 0
push constant 0
call TetriminoMethods.AddStateRow 6
pop temp 0
push local 0
push constant 3
push constant 0
push constant 0
push constant 0
push constant 0
call TetriminoMethods.AddStateRow 6
pop temp 0
push constant 3
push this 7
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Tetrimino.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Tetrimino.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
push constant 0
call Tetrimino.drawCurrentState 2
pop temp 0
push constant 0
return
function Tetrimino.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 4
add
push this 1
push this 4
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Tetrimino.incSize 0
push argument 0
pop pointer 0
push this 1
push this 4
add
push constant 254
lt
push this 0
push this 4
add
push constant 510
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Tetrimino.erase 1
pop temp 0
push this 4
push constant 2
add
pop this 4
push pointer 0
call Tetrimino.draw 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Tetrimino.decSize 0
push argument 0
pop pointer 0
push this 4
push constant 2
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Tetrimino.erase 1
pop temp 0
push this 4
push constant 2
sub
pop this 4
push pointer 0
call Tetrimino.draw 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Tetrimino.moveUp 0
push argument 0
pop pointer 0
push this 1
push constant 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 4
add
push constant 1
sub
push this 0
push this 4
add
push this 1
push this 4
add
call Screen.drawRectangle 4
pop temp 0
push this 1
push constant 2
sub
pop this 1
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 4
add
push this 1
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push constant 0
return
function Tetrimino.drawCurrentState 6
push argument 0
pop pointer 0
push constant 0
pop local 0
push this 6
push this 7
add
pop pointer 1
push that 0
pop local 4
label WHILE_EXP0
push local 0
push constant 4
lt
not
if-goto WHILE_END0
push local 0
push local 4
add
pop pointer 1
push that 0
pop local 5
push constant 0
pop local 1
label WHILE_EXP1
push local 1
push constant 4
lt
not
if-goto WHILE_END1
push argument 1
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push local 5
add
pop pointer 1
push that 0
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
call Screen.setColor 1
pop temp 0
goto IF_END1
label IF_FALSE1
push constant 0
call Screen.setColor 1
pop temp 0
label IF_END1
goto IF_END0
label IF_FALSE0
push constant 0
call Screen.setColor 1
pop temp 0
label IF_END0
push this 0
push this 4
push local 1
call Math.multiply 2
add
pop local 2
push this 1
push this 4
push local 0
call Math.multiply 2
add
pop local 3
push local 2
push local 3
push local 2
push this 4
add
push local 3
push this 4
add
call Screen.drawRectangle 4
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
return
function Tetrimino.moveDown 0
push argument 0
pop pointer 0
push this 1
push this 2
add
push constant 242
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push constant 0
not
call Tetrimino.drawCurrentState 2
pop temp 0
push this 1
push this 4
add
pop this 1
push pointer 0
push constant 0
call Tetrimino.drawCurrentState 2
pop temp 0
label IF_FALSE0
push constant 0
return
function Tetrimino.moveLeft 0
push argument 0
pop pointer 0
push this 0
push constant 12
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push constant 0
not
call Tetrimino.drawCurrentState 2
pop temp 0
push this 0
push this 4
sub
pop this 0
push pointer 0
push constant 0
call Tetrimino.drawCurrentState 2
pop temp 0
label IF_FALSE0
push constant 0
return
function Tetrimino.moveRight 0
push argument 0
pop pointer 0
push this 0
push this 3
add
push constant 498
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push constant 0
not
call Tetrimino.drawCurrentState 2
pop temp 0
push this 0
push this 4
add
pop this 0
push pointer 0
push constant 0
call Tetrimino.drawCurrentState 2
pop temp 0
label IF_FALSE0
push constant 0
return
function Tetrimino.getPosition 0
push argument 0
pop pointer 0
push this 1
push this 2
add
return
function Tetrimino.setCurrentState 0
push argument 0
pop pointer 0
push argument 1
pop this 6
push constant 0
return
function Tetrimino.nextState 0
push argument 0
pop pointer 0
push this 6
push constant 1
add
pop this 6
push this 6
push this 5
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 6
label IF_FALSE0
push pointer 0
push constant 0
call Tetrimino.drawCurrentState 2
pop temp 0
push constant 0
return
